<div class="list-group-item" id="work_experience_item_<%= work_experience.id %>">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-9">
        <div class="d-flex justify-content-start">
          <h5 class="card-title"><%= work_experience.job_title %></h5>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="d-flex justify-content-end">
          <%= link_to edit_work_experience_path(work_experience), data: { controller: "bs-modal-form" } do %>
            <i class="bi bi-pencil-fill"></i> Edit
          <% end %>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Employment Type:</strong> <%= work_experience.employment_type %></li>
      <li class="list-group-item"><strong>Location:</strong> <%= work_experience.location %></li>
      <li class="list-group-item"><strong>Location Type:</strong> <%= work_experience.location_type %></li>
      <li class="list-group-item"><strong>Start Date:</strong> <%= work_experience.start_date %></li>
      <li class="list-group-item"><strong>End Date:</strong> <%= work_experience.end_date %></li>
      <li class="list-group-item"><strong>Current Working Here:</strong> <%= work_experience.current_working_here ? 'Yes' : 'No' %></li>
    </ul>
  </div>
</div>
