<div class="list-group-item" id="work_experience_item_<%= work_experience.id %>">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-9">
        <div class="d-flex justify-content-start">
          <h5 class="card-title"><%= work_experience.job_title %></h5>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="d-flex justify-content-end">
          <%= link_to edit_work_experience_path(work_experience), data: { controller: "bs-modal-form" } do %>
            <i class="bi bi-pencil-fill"></i> Edit
          <% end %>
          <%= link_to work_experience_path(work_experience), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete it?" } do %>
            <i class="bi bi-trash text-danger"></i> 
          <% end %>

        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= work_experience.company_with_employment_type %></li>
      <li class="list-group-item"><%= work_experience.job_location %></li>
      <li class="list-group-item"><%= work_experience.job_duration %></li>
    </ul>
  </div>
</div>
