<%= turbo_frame_tag :remote_modal, target: :_top do %>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="bs-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> 
       <%= form_with model: current_user, url: update_member_description_path, method: :patch do |form| %> 
          <div class="modal-body">
            <div class="row">
              <div class= "col-lg-12">
                <div class="form-group">
                  <%= form.label :description, class: 'mb-3'%>
                  <%= form.text_area :about, value: current_user.about, class: "form-control", row: 15 %>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <%= form.submit 'Save Changes', class: 'btn btn-primary', data: {action: 'click->bs-modal#submitEnd'}%>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
       <%end%>
      </div>
    </div>
  </div>
<%end%>